{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Create a wall{% endtrans %}</h1>
        <hr>
        <footer>
            <p>© Company 2014</p>
        </footer>

    </div>
{% endblock %}