{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">

        <div class="row row-offcanvas row-offcanvas-right">
            Hello
        </div>

        <hr>

        <footer>
            <p>© Company 2014</p>
        </footer>

    </div>
{% endblock %}